*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    /* border: 1px solid black; */
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav img{
    width: 160px;
    height: 35px;
    box-shadow: 1px 10px 10px #00000085;
}
#nav #search{
    border: 1.5px solid #b3b3b3d5;
    height: 41px;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#nav #search img{
    margin: 10px;
    width: 23px;
    height: 23px;
    box-shadow: none;
}
#nav #search input{
    border: none;
    width: 352px;
    height: 39px;
    border-radius: 10px;
}
#nav #search input:focus{
    border: 1px solid blue;
}


.search ::placeholder::before{
    content: "hello";
    color: rgb(134, 129, 129);
    animation: words 20s infinite;



}

.search::placeholder::after{
    content: " ";
    background-color: white ;
    position: absolute;
    width: calc(100% + 4px);
    height: 80%;
    right: -8px;
    animation: cursor 0.3s infinite, typing 20s steps;
}
#contact{
    width: 350px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#contact #number,#contact #mail{
    width: 130px;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    /* border: 1px solid black;     */
}
#contact #number img,#contact #mail img{
    width: 20px;
    height: 20px;
    box-shadow: none;
}
#contact #number p,#contact #mail p{
    font-size: 13px;
}
#contact #mail{
    width: 160px;
}
#contact img{
    width: 50px;
    height: 50px;
    box-shadow: none;
    cursor: pointer;
}

#slider{
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}