*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: visible;
    overflow-x: hidden;
}
#nav{
    /* border: 1px solid black; */
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: white;
}
#nav img{
    width: 160px;
    height: 35px;
    box-shadow: 1px 10px 10px #00000085;
}
#nav #search{
    border: 1.5px solid #ccd0d3;
    height: 41px;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#nav #search img{
    margin: 10px;
    width: 23px;
    height: 23px;
    box-shadow: none;
}
#nav #search input{
    border: none;
    width: 352px;
    height: 39px;
    border-radius: 10px;
}
#nav #search input:focus{
    border: 1px solid rgb(46, 46, 212);
}
.search::placeholder{
    color: #95abbd;
    font-size: 15px;
}
.cursor{
        display: inline-block;
      width: 2px;
      height: 1em;
      background: #ffcc00;
      margin-left: 2px;
      animation: blink 0.7s steps(1) infinite;
}

  @keyframes blink {
      50% {
        opacity: 0;
      }
    }

    
#contact{
    width: 350px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#contact #number,#contact #mail{
    width: 130px;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    /* border: 1px solid black;     */
}
#contact #number img,#contact #mail img{
    width: 20px;
    height: 20px;
    box-shadow: none;
}
#contact #number p,#contact #mail p{
    font-size: 13px;
}
#contact #mail{
    width: 160px;
}
#contact img{
    width: 50px;
    height: 50px;
    box-shadow: none;
    cursor: pointer;
}

#slider{
    overflow-x: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
#slider::-webkit-scrollbar{
    display: none;
}
#slider::scroll-button(right){
    z-index: 2;
    position: absolute;
    content: '>';
    color: white;
    background-color: #000000;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    left: 96%;
    top: 50%;
    cursor: pointer;
}
#slider::scroll-button(left){
    z-index: 2;
    position: absolute;
    content: '<';
    color: white;
    background-color: #000000;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    left: 0.5%;
    top: 50%;
    cursor: pointer;
}
.image{
    flex: 0 0 96rem;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     
    text-align: center;
}
.image h1,.image h3,.image p {
    position: static;
}
.image h1{
    width: 100%;
    /* border: 1px solid white; */
    position: absolute;
    /* left: 31%; */
    top: 53.5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 20px;
}
.image h3{
    width: 100%;
    /* border: 1px solid white; */
    position: absolute;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    /* left: 46%; */
    top: 62.5%;
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 20px;
    font-weight: 400;
}
.image p{
    width: 100%;
    position: absolute;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 700;
    /* left: 44.5%; */
    top: 71%;
}
.image p span{
    color: rgb(218, 218, 218);
    text-decoration: line-through;
    font-weight: 200;
}

#img1{
    background-image: url(images/4img.jpg);
}
#img2{
    background-image: url(images/3img.jpg);
}
#img3{
    background-image: url(images/2img.jpg);
}
#img4{
    background-image: url(images/1img.jpg);
}
#expert{
    position: absolute;
    z-index: 1;
    left: 43%;
    top: 90%;
    width: 280px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #CE3C3D;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-out;
}
#expert:hover{
    color: #CE3C3D;
    background-color: white;
    transition: 0.3s ease-in;
    transform: scale(1.05);
}

#category{
    position: relative;
    width: 100vw;
    height: 70vh;
}
#category h1{
    /* position: absolute; */
    /* border: 1px solid black; */
    margin: 45px 100px auto;
    font-family:sans-serif;
    font-weight: 550;
}
#category h1 span{
    color: #D13C3D;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}
#category-card{
    position: relative;
   
    top: 10%;
    left: 10%;
    width: 80vw;
    height: 50vh;
    overflow: scroll;
    display: flex;
    gap: 15px;
}
.card1{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    flex: 0 0 18rem;
    /* width: 10px; */
    height: 45vh;
    
}
.card1 .img-card{
    /* border: 1px solid  black; */
    height: 70%;
    border-radius: 20px;
    background-image: url(images/holidaycategory/1img.png);
    background-position:top;
    background-size: cover;
}
.card h2{
    margin: 5px 12px;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.card2{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    flex: 0 0 18rem;
    /* width: 10px; */
    height: 45vh;
    border: 1px solid black;
}
.img-card{
    /* border: 1px solid  black; */
    height: 70%;
    border-radius: 20px;
   
    background-position:top;
    background-size: cover;
}
.card2 h2{
    margin: 5px 12px;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.card3{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    flex: 0 0 18rem;
    /* width: 10px; */
    height: 45vh;
    border: 1px solid rgb(250, 250, 250);
}
.card3 .img-card{
    /* border: 1px solid  black; */
    height: 70%;
    border-radius: 20px;
    background-image: url(images/holidaycategory/1img.png);
    background-position:top;
    background-size: cover;
}
.card3 h2{
    margin: 5px 12px;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.card4{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    flex: 0 0 18rem;
    /* width: 10px; */
    height: 45vh;
    border: 1px solid black;
}
.img-card{
    /* border: 1px solid  black; */
    height: 70%;
    border-radius: 20px;
    background-image: url(images/holidaycategory/1img.png);
    background-position:top;
    background-size: cover;
}
.car4 h2{
    margin: 5px 12px;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.card5{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    flex: 0 0 18rem;
    /* width: 10px; */
    height: 45vh;
    border: 1px solid black;
}
.img-card{
    /* border: 1px solid  black; */
    height: 70%;
    border-radius: 20px;
    background-image: url(images/holidaycategory/1img.png);
    background-position:top;
    background-size: cover;
}
.card5 h2{
    margin: 5px 12px;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
